/* #munna {
    background-color: aqua;
    border: solid 2px;
    border-color: brown;
    border-width: 5%;
    height: 30%;
} */
div>p {
    background-color: aqua;
    border: solid 5px;
    border: color red;
}
.malik {
    color: aquamarine;
}
button{
    color: aquamarine;
    background-color: black;
    box-sizing: border-box;
    font-size: larger;
    size-adjust: 4%;
}